{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{%static'css/blog.css'%}">
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap" rel="stylesheet">
	<title>Webwork | Ваше личное веб-пространство</title>
</head>
<body>
	<div class = "Page">
		<div class = "Header">
			<h1><a href="">WEBWORK</a></h1>
			<ul class = "Menu">
				<li><a href="">LOGIN</a></li>
				<li><a href="">REGISTER</a></li>
			</ul>
		</div>
		<div class = "Main">
			<h3>WEBWORK</h3>
			<p>Work easy in web with best perfomance</p>
			<p>Chating with your partners</p>
			<p>Share and Get</p>
		</div>

		<div class="Footer">
			<p>MAKING BY NIKITA SUSLOV WITH LOVE</p>
		</div>
	</div>	
</body>	