{% load static %}
<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	<title>Webwork | Ваше личное веб-пространство</title>
</head>
<body>
	<div class = "Header">
		<h1><a href="">WEBWORK</a></h1>
		<ul class = "Menu">
			<li><a href="">LOGIN</a></li>
			<li><a href="">REGISTER</a></li>
		</ul>
	</div>
	<div class = "Header-1">
		<h1>YOUR PERSONALLY WEB SPACE</h1>
		<h2>WORK EASY IN WEB</h2>
	</div>
	<div class="Footer">
		<p>MAKING BY NIKITA SUSLOV WITH LOVE</p>
	</div>
</body>	