*{
    padding: 0;
    margin: 0;
    font-family: 'Teko'
}
.Page{
    height: 720px;
}

.Header{
    background-color: #6633FF;
    padding: 20px 20px 20px 20px;
    
}
.Header h1{
    font-size: 50px;
    display: inline;
}
.Header a{
    color : white;
    text-decoration: none;
}
.Header ul{
    display: inline;
    float: right;
    font-size: 50px;
}
.Header li{
    display: inline;
    padding-right: 20px;
}
.content {
    background: linear-gradient(to top, #5A009D,#6633FF);
    padding: 200px 20px 20px 20px;
    text-align: center;
    color: white;
    font-size: 50px;
    height: 80%;
}
.Footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 150px;
    height: 20%;
